.layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;

  .aside {
    background-color: #001529;
    height: 100%;
    transition: width 0.4s cubic-bezier(0.2, 0, 0, 1);

    .aside-logo {
      height: 50px;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;

    .header {
      height: 50px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      .collapsed {
        background-color: #001529;
        display: inline-block;
        padding: 4px 10px;
        color: #ffffff;
        font-size: 12px;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
        cursor: pointer;
      }
    }
  }
}
